.contain {
  height: calc(100vh - 98px);
  margin: 0 auto;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wraptext {
  display: flex;
}

.link_color {
  color: #4c4cff;
  text-decoration: none;
}


.item_center {
  text-align: center;

}