.card_order {
  background-color: #1c1c21;
  border-radius: 40px;
}

.order_link {
color: inherit;
text-decoration: none;
}

.order_id {
  display: flex;
  justify-content: space-between;
}

.ingredients_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ingredients {
  display: flex;
  justify-content: start;
}

.ingredient {
  width: 64px;
  height: 64px;
  background-color: #1c1c21;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #7821bd;
  margin-left: -16px;
}

.price {
  display: flex;
}
