.header {
  width: 100%;
  background-color: #1c1c21;
}

.nav {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.row {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.end {
  justify-self: end;
}

.start {
  justify-self: start;
}
